{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/login.css')}}">
{% endblock %}

{% block content %}
<main>
    <form action= "{{url_for('account', target = url_for('edit_account'))}}" method="post" enctype="multipart/form-data">
        <p>
            <label for="pwd">Password</label>
            <input type="password" id="pwd" name="password" required/>
        </p>
        <p>
            <label for="npwd">New Password</label>
            <input type="password" id="npwd" name="new_password1" required/>
        </p>
        <p>
            <label for="npwd2">Confirm New Password</label>
            <input type="password" id="npwd2" name="new_password2" required/>
        </p>
        <p>
            <label for="submit"></label>
            <input type="submit" id="submit" name="update_password" value="submit"/>
        </p>
    <input type="hidden" name="operation" value="update_password"/>
    </form>
    <h4>
       <a href = "/accounts/edit/"> Back to edit account</a>
    </h4>

</main>
{% endblock %}